
  <div class="sideheader">

      <div class="text-container">
          <h1 style="color: white;">HTTPS Status on URL</h1>
          <h3 style="color: white;" *ngIf="urlsData.length > 0">Last checkup: {{urlsData[0].updated | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</h3>
          <h4 style="color: white;"> created by Nils</h4>
      </div>
  </div>
  <div class="container-fluid text-center">
  <ul class="flex-list">
      <li *ngFor="let item of urlsData" [ngClass]="[getStatusClass(item), isTimeOut ? 'status-null' : '']">
          <div class="flex-container">
              <div class="flex">
                  <button button type="button" class="btn  btn-outline-dark" (click)="goToLink(item.url!)" title="{{item.url}}">
                      <div class="url">Link to webpage</div>
                  </button>
              </div>
              <div class="flex">
                  <div class="httpstatus">
                      <span>Httpstatus:</span> {{item.httpstatus}}
                      
                  </div>
              </div>
              
          </div>
      </li>
  </ul>
  <div class="flex-log">
    <button button type="button" class="btn  btn-outline-dark" (click)="logArray()">Log Something</button>
    <button button type="button" class="btn  btn-outline-dark" (click)="saveLogsToFile()">Save Logs to File</button>
  </div>
</div>


<router-outlet></router-outlet>